<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule (^|/)\.(?!well-known/) - [F,L]
    RewriteRule ^(vendor|storage|bootstrap|config|database|resources|routes|tests)(/|$) - [F,L]
    RewriteRule ^(artisan|composer\.(json|lock)|phpunit\.xml|check\.php|send_test\.php|\.env.*)$ - [F,L]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>
